.equiwidth {
	text-align: justify;
	line-height: .5em;
	padding-top: .25em;
	line-height: 0;
 
	* {
		display: inline;
	}
 
	li {
		display: inline-block !important;
		width: auto!important;
 
		a {
			margin: 0;
			line-height: 1em;
		}
	}
 
	&:after {
		content: '';
		width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
		display: inline-block;
	}
}
.cf {
	@include clearfix;
}
.hidden {
	display: none!important;
}