@import "normalize.scss";
@import "foundation.scss";
@import "compass/typography/text/replacement";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "cw-custom.scss"; // This is where we can put custom mixins and classes


// body {
// 	&.admin-bar {
// 		padding-top: 46px;
// 	}
// }

body {
	background: url(../images/bg_tile.png);
}

#wpadminbar {
	.quicklinks {
		background: #222!important;
	}
}

a {
	color: #ffdec9;

	&:hover {
		color: #FFEDE2
	}
}

p {
	font-size: 14px;

	&.tagline {
		display: none;
	}
}

img {
	max-width: 100%;
	height: auto;
}

[role="banner"] {
	h1 {
		width: 310px;
		height: 83px;
		float: left;
		background: url(../images/logo.png);

		@include hide-text;
	}

	p {
		float: left;
		line-height: 110px;
		color: #c4c4c4;
	}

	// .columns {
	// 	padding: 0;
	// }

	#s {
		width: 100%;
		border: 1px solid #becbff;
		background: #fff url(../images/search_arrow.png) no-repeat 95% center;
		@include border-radius(20px);
	}
}

[role="navigation"] {
	background: #fff;
	height: 30px;
	border-bottom: 1px solid #dfe3f0;
	overflow: hidden;

	.inline-list {
		margin: 0 auto;
	}

	ul {
		margin-bottom: 0;
	}

	.fb-like {
		position: relative;
		top: 5px;
	}

	.contact {
		text-align: center;
		overflow: hidden;
		padding-left: 0;
		padding-right: 0;
		color: #505c91;
	}

	.nav {
		position: relative;
	}

	.nav-toggle {
		display: none;
	}

	.nav-menu.inline-list, .menu-main-container {
		position: relative;
		overflow: visible;
		z-index: 1000;
	}

	#menu-main {
		// padding-left: 20px;
	}

	.portal-link {
		span {
			display: none;
		}
	}
}

.nav-menu li a {
	line-height: 30px;
	color: #eb6e1f;
	font-weight: bold;
}

a[href^=tel] {
	line-height: 30px;
	color: #505c91;
}

[role="main"] {
	h3 {
		font-size: 22px;
	}

	.entry-title {
		background: url(../images/highlight_copy.png) no-repeat left 28px;
		margin: 0;
		padding: 0 0 30px 0;
		color: #444;
		font-size: 30px;
	}

	a {
		color: #eb6e1f;
	}
}

.home-docs {
	margin-bottom: 20px;
}

.section-shadow {
	background: url(../images/highlight_copy.png) no-repeat left top;
	padding-top: 60px;
}

.testimonials {
	blockquote.testimonial {
		background: url(../images/quote_top.png) no-repeat left top,
					url(../images/quote_bottom.png) no-repeat right bottom;
		padding: 30px 0 10px 0;
		margin-bottom: 10px;
		font-size: 20px;
		border:	none;
		color: #444;
	}

	h3 {
		color: #444;
	}

	p {
		font-weight: bold;
		font-size: 12px;
	}
}

.slideshow {
	min-height: 250px;
	background: url(../images/slides_bg_tile.png) repeat-x left top;

	.img-contain {
		position: relative;
	}

	.caption {
		position: absolute;
		top: 40px;
		left: 40px;
		width: 300px;
		max-height: 300px;
		color: #fff;

		font-size: 14px;

		p {
			font-size: 14px;
			margin-bottom: 10px;
		}

		.button {
			background: #eb6e1f;
			padding: 6px 18px;
			font-weight: bold;
			color: #fff;
		}

		ul {
			margin-left: 30px;

			li {
				line-height: 16px;
			}
		}
	}

	.img-contain {
		div.slide {
			display: none;

			&:first-child {
				display: inline;
			}
		}
	}

	.menu {
		padding-top: 10px;

		ul {
			list-style: none;
			text-align: right;

			li {
				border-bottom: 1px dotted #c3c5cb;

				&.none {
					border-bottom: none;
				}

				&:hover {
					@include box-shadow(0 8px 6px -6px #efefef);
					@include box-shadow(0 8px 6px -6px rgba(0,0,0,0.05));
				}

				&.selected {
					a {
						color: #20358c;
					}
				}

				a {
					padding: 6px 0;
					font-size: 14px;
					color: #eb6e1f;
					display: block;

					&:hover{
						color: #20358c;
					}
				}

				&.current {
					a {
						color: #20358c;
					}
				}
			}
		}
	}

	h5 {
		font-size: 14px;
		font-style: italic;
		color: #444;
		// letter-spacing: -1px;
	}
}


[role="complementary"] {
	.widget_rfb_widget {
		.time {
			background: #a8b6f0;
			color: #fff;
			padding: 4px 12px;

		}

		.latest {
			padding-left: 40px;
			background: url(../images/facebook_icon.png) no-repeat left center;
		}
	}

	.latest-tweets {
		time {
			color: #999;
			font-size: 80%;
		}

		.tweet-text{
			margin-bottom: 0;
		}

		ul {
			list-style-type: none;
			padding-left: 0;
			margin-left: 0;
				
			li {
				border-bottom: 1px solid #E9E9E9;
				padding-bottom: 15px;
				margin-bottom: 15px;
				margin-top: 0;
				padding-top: 0;

				&:last-child {
					border-bottom: none;
					padding-bottom: 0;
					margin-bottom: 0;
				}
			}
		}
	}

	h3 {
		margin-bottom: .6em!important;
	}
}

.recent-facebook-posts {
	.rfbp-post {
		&:last-child {
			border-bottom: none;
		}
	}
}

[role="contentinfo"] {
	margin-top: 30px;
	padding-top: 30px;
	min-height: 342px;
	background: url(../images/footer_shadow.png) repeat-x top left;

	.widget {
		margin-bottom: 0!important;
	}

	p {
		color: #fff;
		margin: 0;
	}

	h4 {
		font-size: 14px;
		color: #444;
	}

	.contact {
		overflow: hidden;

		h4 {
			font-size: 18px;
		}
	}

	.logo {
		padding-top: 4em;
	}

	.gform_body {
		label {
			display: none!important;
		}

		input {
			width: 100%!important;
		}

		textarea {
			height: 80px!important;
		}
	}
}

/* Misc */
.widget {
	background: rgba(255, 255, 255, 0.3);
	background: url(../images/widget_bg.png);
	padding: 15px;
	margin-bottom: 15px!important;
}

.pediatric-care {
	padding-left: 60px;
	background: url(../images/kid.png) no-repeat left center;
}

.button {
	background: #eaefff;
	color: #eb6e1f;
	border: 0;
	font-size: 12px;
	font-weight: normal;
	padding: 6px;

	@include border-radius(10px);

	&:hover {
		background: #E2E5F0;
		color: #eb6e1f;
	}
}

@media all and (min-width: 640px) {
	body {
		background: url(../images/bg_tile.png);
		background: url(../images/bg_highlight.png) no-repeat center top,
					url(../images/bg_tile.png);
		font-family: Verdana, sans-serif;
		color: #444444;
	}

	p {
		&.tagline {
			display: inline;
		}
	}
}

 @media all and (min-width: 783px) {
 	// body {
 	// 	&.admin-bar {
 	// 		padding-top: 32px;
 	// 	}
 	// }
 }

 @media only screen and (max-width: 768px) {
 	.inline-list > li {
 		float: none;

 		a {
 			display: block;
 		}
 	}

 	.home-docs {
 		// float: right;
 		// margin-left: 2em;
 		// max-width: 25%;
 		// height: auto;

 	}

 	p.logo {
 		text-align: center;

 		&.large {
 			display: none;
 			padding: 2em 0;
 		}

 		&.small {
 			display: block;
 			padding-left: 1em 0;
 		}
 	}
 }
 @media only screen and (min-width: 768px) and (max-width: 899px) {
 	[role="navigation"] {
 		.fb-like {
 			display: none;
 		}
 	}
 }

@media only screen and (min-width: 768px) {
 	[role="banner"] {
 		#searchform {
 			margin: 0;
 			padding: 40px 0;
 		}
 	}

 	// .home-docs {
 	// 	position: absolute;
 	// 	top: -70px;
 	// 	right: 40px;
 	// }

 	.meet-docs {
 		position: relative;
 		// padding-right: 220px;

 		h3 {
 			color: #444;
 		}

 		p {
 			// max-width: 500px;
 		}
 	}

 	.left {
 		padding-left: 0;
 	}

 	.right {
 		padding-right: 0;
 	}
 }

@media all and (min-width: 1024px) {
	[role="banner"] {
		.columns {
			padding: 0;
		}
	}
}

@media only screen and (min-width: 1050px) {
 	[role="navigation"] {
 		overflow: visible;

 		.contact {
 			text-align: left;
 		}

 		/* Patient Center Link */
 		.portal-link {
 			background: #fff;
 			text-align: center;
 			float: right;
 			padding: 10px 4px;

 			span {
 				font-weight: normal;
 				color: #969696;
 				display: block
 			}

 			a {
 				color: #7086df;
 				line-height: 18px;
 			}

 			* {
 				z-index: 1000;
 			}
 		}

 		.portal {
 			position: absolute;
 			z-index: 1;
 			top: 29px;
 			right: 0;
 			height: 30px;
 			box-sizing: border-box;
 			width: 300px;
 			padding: 10px;
 			background: #fff;
 			text-align: center;
 			border-bottom: 1px solid #dfe3f0;
 			border-right: 1px solid #dfe3f0;
 			border-left: 1px solid #dfe3f0;
 			@include border-bottom-radius(10px);
 		}
 	}

 	[role="banner"]{
 		margin-top: 60px;
 	}

 	.tagline {
 		font-size: 18px;
 		margin-left: 30px;
 	}
 }